# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://qrpdytontoqzsrntrxwm.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFycGR5dG9udG9xenNybnRyeHdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA3MTIzNjksImV4cCI6MjA3NjI4ODM2OX0.xvfpyAgqAYsLjt2j9aJwjqmx05vKbkviL0p2hMRwuVw
